.SearchBar {
  padding: 20px 0;
}

.SearchFormInput {
  width: 230px;
  height: 16px;
  padding: 7px;
  outline: none;
  border: 2px solid #000000;
  border-radius: 4px;
  margin-right: 10px;
  transition: border-color linear 250ms;
}
.SearchFormInput:focus {
  border-color: #d8bfd8;
}

.SearchFormButton {
  padding: 7px 10px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 4px;
  transition: all linear 250ms;
}
.SearchFormButton:hover {
  background-color: #d8bfd8;
  border-color: transparent;
  color: #ffffff;
}
